<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootsrap.min.js"></script>

  <title>JAMZ</title>
</head>
<body>
 <% if current_user %>        
    <a href="/logout">Logout</a></div>
 <% else %>
 <!--    <a href="users/new">SignUp</a>
    <a href="/login">Login</a> -->
<% end %>
  <%= yield %>
</body>
</html>
